@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600,700,900&display=swap');
/*@import url('"https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff"');*/
*{
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
}
.dataTables_info,
.dataTables_paginate,
.dataTables_filter{
    display: none;
}

li.page-item {
    display: none;
}

.page-item:first-child,
.page-item:nth-child( 2 ),
.page-item:nth-child( 3 ),
.page-item:last-child,
.page-item:nth-last-child( 2 ),
.page-item:nth-last-child( 3 ),
.page-item.active {

    display: block;
}
/*.image{*/
/*    white-space: nowrap;*/
/*    z-index: -999;*/
/*}*/


